:root {
  --font-family-battleship: 'Russo One', sans-serif;
  --letter-spacing: 1px;
  --text-transform: uppercase;

  --background-button: #2c3e50;
  --color-button: #ecf0f1;
  --border-button: 3px solid #2980b9;
  --padding-button: 5px 10px;
  --fontSize-button: 1rem;
  --radius-button: 5px;
  --shadow-button: 0 4px 6px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  letter-spacing: var(--letter-spacing);
  font-family: var(--font-family-battleship);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: var(--text-transform);
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeShipsBtn,
.startGameBtn {
  font-family: var(--font-family-battleship);
  background-color: var(--background-button);
  color: var(--color-button);
  border: var(--border-button);
  padding: var(--padding-button);
  font-size: var(--fontSize-button);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  border-radius: var(--border-button);
  box-shadow: var(--shadow-button);
}

.placeShipsBtn:hover,
.startGameBtn:hover {
  background-color: #2980b9;
  color: #ffffff;
}

.gameDisplay {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gameInstructions {
  display: flex;
  justify-content: center;
}

.playerBoard,
.computerBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gameBoards {
  display: flex;
  gap: 0.5rem;
}

.boardCell {
  border: 1px solid black;
}

.ship {
  background-color: gray;
}

.missed {
  background-color: yellow;
}

.hit {
  background-color: red;
}
